html {
     background-color: black;
     padding: 3vh;
}
 body {
     font-family: helvetica;
     color: white;
     margin-left: 50px;
     margin-right: 50px;
		 background-color: black;
}
#loader-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		pointer-events: all;
}

#loader-wrapper .loader-section {
		position: fixed;
		top: 0;
		background: black;
		width: 51%;
		height: 100%;
		z-index: 1000;
		pointer-events: all;
}

#loader-wrapper .loader-section.section-left {
		left: 0
}

#loader-wrapper .loader-section.section-right {
		right: 0;
}


.loaded #loader-wrapper .loader-section.section-left {
		transition: all 0.5s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
		transition: all 0.5s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
		opacity: 0;
		transition: all 0.5s ease-out;
}

.loaded #loader-wrapper {
		opacity: 0;
		transition: all 0.5s 0.5s ease-out;
}
 .bioHeader {
     font-weight: 200;
     margin-top: 0px;
     font-size: 17vw;
     color: grey;
     margin-bottom: 0;
     width: 1vw;
     transition: color 1s;
}
 .bioHeader:hover {
     color: #30D5C8 !important;
}
 .bioText {
     font-size: 3vh;
     color: white;
     width: 50vw;
     padding-bottom: 100px;
     background: -webkit-linear-gradient(white, grey);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     line-height: 1.5;
}
 .portfolioCaption {
     font-size: 3vh;
     color: white;
     width: 50vw;
     padding-left: 3vw;
     padding-bottom: 50px;
}
 .grey {
     color: grey;
}
 .portfolio {
     font-size: 10vw;
     font-weight: 800;
     text-decoration: none;
}
 .footerText {
     color: white;
     font-size:30px;
}
 a.portfolio {
     text-decoration: none;
     display: inline-block;
     padding-bottom: 1vw;
}
 a.portfolio:after {
     background: none repeat scroll 0 0 transparent;
     bottom: 0;
     content: "";
     display: block;
     height: .5vw;
     position: absolute;
     background: #30D5C8;
     transition: width 0.5s ease 0s, left 0.5s ease 0s;
     width: 0;
}
 a.portfolio:hover:after {
     width: 100%;
     left: 0;
}
 .photographyPortfolio {
     color: #808080;
}
 .lungcancerPortfolio {
     color: #737373;
}
 .creativewritingPortfolio {
     color: #666666;
}
 .caeruleanPortfolio {
     color: #595959;
}
 .villustratorsPortfolio {
     color: #4c4c4c;
}
 .portfolioAnimation {
     transition: 1s;
}
 .portfolioAnimation:hover {
     transition: 1s;
     padding-bottom: 5vw;
     padding-top: 2.5vw;
}
 a:hover {
     color: #30D5C8 !important;
     transition: 0.5s;
}
 a {
     transition: 0.5s;
}
 .final {
     padding-bottom: 10vh;
}
 .bottomFooter {
     float: right;
}
 .pxPaddingFooter {
     padding-bottom:200px;
}
 .firstGradient {
     position: fixed;
     width: 100%;
     left: 0;
     height: 100vh;
     bottom: 0;
     background: #000;
     background: linear-gradient(2deg, #000 0, rgba(0, 0, 0, .2) 19%, rgba(0, 0, 0, 0) 28%, rgba(255, 255, 255, 0) 67%, rgba(255, 255, 255, 0) 100%);
     z-index: 1;
     pointer-events: none !important
}
 .secondGradient {
     position: fixed;
     width: 100%;
     left: 0;
     height: 100vh;
     bottom: 0;
     background: #000;
     background: linear-gradient(181deg, #000 0, rgba(0, 0, 0, .2) 24%, rgba(0, 0, 0, 0) 37%, rgba(255, 255, 255, 0) 67%, rgba(255, 255, 255, 0) 100%);
     z-index: 1;
     pointer-events: none !important
}
 .hoverStatus {
     display: inline-block
}
 .portfolioHoverArea {
     position: relative;
}
 .portfolioHover {
     margin-top: -2.5vw;
     margin-left: 2.5vw;
     margin-right: 15vw;
     opacity: 0;
     font-size: 2.5vw;
     transition: opacity 1.1s ease-in-out;
     color: #3d3d3d;
}
 .hoverStatus:hover+.portfolioHover {
     opacity: 1;
}
 .specificLocation {
     margin-left: 100px;
}
 p {
     margin: 0;
}
 #burgerToggle {
     position: absolute;
     appearance: none;
     opacity: 0;
     display: none;
}
 #burgerToggle:checked ~ .menu {
     opacity: 1;
     visibility: visible;
}
 #burgerToggle:checked ~ .menu .menuNavLink span div, #burgerToggle:checked ~ .menu img, #burgerToggle:checked ~ .menu .title p {
     transform: translateY(0);
     transition: transform 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
 #burgerToggle:checked ~ .burger-menu .line::after {
     transform: translateX(0);
}
 #burgerToggle:checked ~ .burger-menu .line:nth-child(1) {
     transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
 #burgerToggle:checked ~ .burger-menu .line:nth-child(2) {
     transform: scaleX(0);
}
 #burgerToggle:checked ~ .burger-menu .line:nth-child(3) {
     transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}
 .burger-menu {
     --burger-menu-radius: 4em;
     position: fixed;
     top: 1.8vh;
     left: 1.8vw;
     z-index: 100;
     display: block;
     width: var(--burger-menu-radius);
     height: var(--burger-menu-radius);
     outline: none;
     cursor: pointer;
}
 .burger-menu .line {
     position: absolute;
     left: 25%;
     width: 50%;
     height: 3px;
     background: rgba(105,105,105);
     border-radius: 10px;
     overflow: hidden;
     transition: 0.5s;
}
 .burger-menu .line:nth-child(1) {
     top: 30%;
}
 .burger-menu .line:nth-child(2) {
     top: 50%;
}
 .burger-menu .line:nth-child(3) {
     top: 70%;
}
 .menu {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #0c0c0c;
     opacity: 0;
     overflow-x: hidden;
     visibility: hidden;
     transition: 0.5s;
     z-index: 99;
}
 .menuNav {
     text-align: left;
     list-style-type: none;
}
 .menuNavLink {
     position: relative;
     display: inline-flex;
     font-size: 100px;
     color: white;
     text-decoration: none;
     transition: .6s ease;
}
 .menuNavLink:hover {
     font-size: 150px;
     transition: .6s ease;
     transform: skew(15deg, 15deg);
     padding-top:100px;
     padding-bottom:100px;
}
 .menuNavLink span {
     overflow: hidden;
}
 .menuNavLink span div {
     transform: translateY(102%);
}
 .menuNavLink::after {
     position: absolute;
     content: "";
     top: 100%;
     left: 0;
     width: 100%;
     height: 3px;
     background: var(--primary-color);
     transform: scaleX(0);
     transform-origin: right;
     transition: transform 0.5s;
}
 .menuNavLink:hover::after {
     transform: scaleX(1);
     transform-origin: left;
}
 .menu .title {
     text-align:left;
     font-size: 24px;
     color: white;
     overflow: hidden;
     margin-left:40px;
}
 .menu .title p {
     color: grey;
     font-size: 40px;
     transform: translateY(102%);
}
 .menu .placeOuter {
     display: flex;
}
 .menu .placeOuter .placeInner {
     width: 65vw;
}
 @media only screen and (max-width: 750px) {
     html {
         padding: 10px;
    }
     body {
         margin-left: 20px;
         margin-right: 0px;
    }
     .bioHeader {
         font-size: 27vw;
    }
     .bioText {
         width: 80vw;
    }
     .portfolio {
         font-size: 10vw;
    }
     .portfolioCaption {
         width: 80vw;
    }
     .navBar {
         display: none;
    }
     .portfolioHover {
         display: none !important;
    }
     .portfolio {
         display: none !important;
    }
     .bottomFooter {
         float:left;
         left: 50%;
    }
     .firstGradient {
         display: none;
    }
     .secondGradient {
         display: none;
    }
     .pxPaddingFooter {
         padding-bottom:100px !important;
    }
     .menu {
         display: block;
    }
}
 @media screen and (max-width: 750px) {
     .menuNav {
         flex-direction: column;
    }
}
 @media screen and (min-width: 970px) and (max-width: 1321px) {
     .menu {
         display: block;
         padding-top:200px;
         padding-left:80px;
    }
}
 @media screen and (max-width: 970px) {
     .menu {
         display: block;
         padding-top:200px;
         padding-left:20px;
    }
     .menuNavLink {
         font-size:100px;
    }
     .menuNavLink:hover {
         font-size:100px;
         padding-top:50px;
         padding-bottom:50px;
    }
}
 @media screen and (max-width: 680px) {
     .menu {
         display: block;
         padding-top:200px;
         padding-left:0px;
    }
     .menuNavLink {
         font-size:80px;
    }
     .menuNavLink:hover {
         font-size:80px;
         padding-top:50px;
         padding-bottom:50px;
    }
     .menu .title p {
         font-size: 35px;
    }
}
 @media not all and (min-resolution:.001dpcm) {
     @supports (-webkit-appearance: none) {
         .firstGradient {
             background: linear-gradient(2deg, #000 0, rgba(0, 0, 0, .2) 19%, rgba(0, 0, 0, 0) 28%, rgba(255, 255, 255, 0) 67%, rgba(255, 255, 255, 0) 100%)
        }
         .secondGradient {
             background: linear-gradient(181deg, #000 0, rgba(0, 0, 0, .2) 24%, rgba(0, 0, 0, 0) 37%, rgba(255, 255, 255, 0) 67%, rgba(255, 255, 255, 0) 100%)
        }
    }
}
