#loader-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		pointer-events: all;
}

#loader-wrapper .loader-section {
		position: fixed;
		top: 0;
		background: black;
		width: 51%;
		height: 100%;
		z-index: 1000;
		pointer-events: all;
}

#loader-wrapper .loader-section.section-left {
		left: 0
}

#loader-wrapper .loader-section.section-right {
		right: 0;
}


.loaded #loader-wrapper .loader-section.section-left {
		transition: all 0.5s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
		transition: all 0.5s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
		opacity: 0;
		transition: all 0.5s ease-out;
}

.loaded #loader-wrapper {
		opacity: 0;
		transition: all 0.5s 0.5s ease-out;
}


 a {
     transition: 0.5s;
}

 p {
     margin: 0;
}















#burgerToggle {
		position: absolute;
		appearance: none;
		opacity: 0;
		display: none;
}
#burgerToggle:checked ~ .menu {
		opacity: 1;
		visibility: visible;
}
#burgerToggle:checked ~ .menu .menuNavLink span div, #burgerToggle:checked ~ .menu img, #burgerToggle:checked ~ .menu .title p {
		transform: translateY(0);
		transition: transform 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
#burgerToggle:checked ~ .burger-menu .line::after {
		transform: translateX(0);
}
#burgerToggle:checked ~ .burger-menu .line:nth-child(1) {
		transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
#burgerToggle:checked ~ .burger-menu .line:nth-child(2) {
		transform: scaleX(0);
}
#burgerToggle:checked ~ .burger-menu .line:nth-child(3) {
		transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}
.burger-menu {
		--burger-menu-radius: 4em;
		position: fixed;
		top: 1.8vh;
		left: 1.8vw;
		z-index: 100;
		display: block;
		width: var(--burger-menu-radius);
		height: var(--burger-menu-radius);
		outline: none;
		cursor: pointer;
		font-size:16px;
}
.burger-menu .line {
		position: absolute;
		left: 25%;
		width: 50%;
		height: 3px;
		background: rgba(105,105,105);
		border-radius: 10px;
		overflow: hidden;
		transition: 0.5s;
}
.burger-menu .line:nth-child(1) {
		top: 30%;
}
.burger-menu .line:nth-child(2) {
		top: 50%;
}
.burger-menu .line:nth-child(3) {
		top: 70%;
}
.menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #0c0c0c;
		opacity: 0;
		overflow-x: hidden;
		visibility: hidden;
		transition: 0.5s;
		z-index: 99;
		line-height:1.15;
}
.menuNav {
		text-align: left;
		list-style-type: none;
}
.menuNavLink {
		position: relative;
		display: inline-flex;
		font-size: 9vh;
		color: white;
		text-decoration: none;
		transition: .6s ease;
}
.menuNavLink:hover {
		font-size: 13vh;
		transition: .6s ease;
		transform: skew(15deg, 15deg);
		padding-top:100px;
		padding-bottom:100px;
}
.menuNavLink span {
		overflow: hidden;
}
.menuNavLink span div {
		transform: translateY(102%);
}
.menuNavLink::after {
		position: absolute;
		content: "";
		top: 100%;
		left: 0;
		width: 100%;
		height: 3px;
		background: var(--primary-color);
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.5s;
}
.menuNavLink:hover::after {
		transform: scaleX(1);
		transform-origin: left;
}
.menu .title {
		text-align:left;
		font-size: 24px;
		color: white;
		overflow: hidden;
		margin-left:40px;
}
.menu .title p {
		color: grey;
		font-size: 40px;
		transform: translateY(102%);
}
.menu .placeOuter {
		display: flex;
}
.menu .placeOuter .placeInner {
		width: 65vw;
}

a:hover {
	color:#30D5C8 !important;
	transition: 0.5s;
}

















@media screen and (max-width: 750px) {
		.menuNav {
				flex-direction: column;
	 }
}
@media screen and (min-width: 970px) and (max-width: 1321px) {
		.menu {
				display: block;
				padding-top:15vh;
				padding-left:80px;
	 }
	 .menuNavLink:hover {
			 font-size:10vh;
			 padding-top:4vh;
			 padding-bottom:4vh;
	}
}
@media screen and (max-width: 970px) {
		.menu {
				display: block;
				padding-top:15vh;
				padding-left:20px;
	 }
		.menuNavLink {
				font-size:8vh;
	 }
		.menuNavLink:hover {
				font-size:8vh;
				padding-top:4vh;
				padding-bottom:4vh;
	 }
}
@media screen and (max-width: 680px) {
		.menu {
				display: block;
				padding-top:15vh;
				padding-left:20px;
	 }
		.menuNavLink {
				font-size:13vw;
	 }
		.menuNavLink:hover {
			font-size:13vw;
			padding-top:4vh;
			padding-bottom:4vh;
	 }
		.menu .title p {
				font-size: 35px;
	 }
}

@media screen and (max-height: 595px) {
 .menuNavLink {
		 font-size:10vh;
}
 .menuNavLink:hover {
	 font-size:10vh;
	 padding-top:4vh;
	 padding-bottom:4vh;
}
}












































































































html {
	background-color: black;
	padding: 3vh;
}

body {
	font-family: Didot;
	color: white;
	margin-left: 50px;
	margin-right: 50px;
}

.bioDiv {
	padding-bottom: 60vh;
}

.bioHeader {
	padding-top: 20vh;
	font-weight: 400;
	font-size: 10vw;
	margin: 0px !important;
	text-align:center;
	font-weight: 800;
}

.bioSubHeader {
	margin-top: 0px;
	font-size: 20vh;
	color: grey;
	margin-bottom: 0;

}

.bioText {
	font-size: 20px;
	color: white;
	
	font-family: Courier New;
	text-align:center;
}

.grey {
	color: grey;
}

.end {
	padding-left:10vw;
	padding-right: 10vw;
	color:#5E0F10;
	font-size:60px;

}

.endText {
	font-size:60px;
}

.endText2 {
	padding-top:200px;
	font-family: Courier New !important;
	font-size: 15px !important;
	color:#BF7763;
	padding-left:10vw;
	padding-right: 10vw;
	text-align:right;
	
	
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 50px;
	height: auto;
	max-width: 100%;
	position:absolute;
	bottom:0px;
	z-index:1;

}

.imageDiv {
	padding-left: 2vw;
	align-items: center;
	padding-right: 2vw;
	position:relative;

}

.caption {
	vertical-align: top;
	font-family: Didot;
	font-weight: 400;
	font-size: 5vh;
	color: white;
	letter-spacing: 0.1vh !important;
	line-height: 5vh;
	display: block !important;
}

.captionTemp {

	vertical-align: top;
	font-family: Didot;
	font-weight: 600;
	
	
	
	display: block !important;
	margin-top:0vw;
	z-index:2;
	position:relative;

}

.captionLarge {
	font-size: 10vw;
	line-height: 0vw;
}

.subCaption2 {

	color: grey;
	font-weight: 100;
	font-size: 20px;
	font-family: Courier New;
	
	margin-right:40px;
	padding-right: 5vw;
	padding-left:5vw;
	display: block; 
	




}

.down {
	height: 20vw;
}

.subCaption {
	color: grey;
	font-weight: 100;
	font-size: 4vh;
}

.image {
	height: 53.5vw;
}

@media only screen and (max-width: 1500px) {

html {
	padding:5vw;
}

body {
	margin-left: 0px;
	margin-right: 0px;
}

.imageDiv {
	padding-left: 0vw;
	padding-right: 0vw;
}
}





.firstGradient {
	position: fixed;
	width: 100%;
	left: 0;
	height: 100vh;
	bottom: 0;
	background: #000;
	background: linear-gradient(2deg, #000 0, rgba(0, 0, 0, .2) 19%, rgba(0, 0, 0, 0) 28%, rgba(255, 255, 255, 0) 67%, rgba(255, 255, 255, 0) 100%);
	z-index: 3;
	pointer-events: none !important
}
.secondGradient {
	position: fixed;
	width: 100%;
	left: 0;
	height: 100vh;
	bottom: 0;
	background: #000;
	background: linear-gradient(181deg, #000 0, rgba(0, 0, 0, .2) 24%, rgba(0, 0, 0, 0) 37%, rgba(255, 255, 255, 0) 67%, rgba(255, 255, 255, 0) 100%);
	z-index: 3;
	pointer-events: none !important
}